*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Newsreader', serif;
}


#contents {
    flex: 1;
}

body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
 }

.btn-purple{
   color:rgb(206, 195, 216);
   background-color: rgb(199, 165, 55);
   transition: transform 1s;
}

footer{
   height:60px;
   background-color:rgb(255, 255, 255);
   right: 0;
   bottom: 0;
   left: 0;
}


.bg-color-custom{
   background-color: rgb(236, 238, 238);
   border: 1px solid black;
}


.btn-purple:hover{
   transition: transform 1s;
   transition-duration: 1s;
   transform: scale(1.2);
   color:rgb(255, 255, 255);
   background: linear-gradient(90deg, rgb(66, 44, 2) 10%, rgb(168, 137, 37) 80%, rgb(231, 122, 32) 95%); 
}

.itemAccount{
   width: 80px;
   height: 100px;
   padding:5px;
   background: rgb(107, 104, 109);
   transition: transform 1s;
}

.itemAccount:hover{
   transition: transform 1s;
   transition-duration: 1s;
   background: linear-gradient(rgb(202, 152, 76), rgb(168, 107, 27));
}


